@import "bootstrap/bootstrap.lessimport";

@state-warning-background: #fffeb7;

.small {
    font-size: 12px;
}

#pointer {
  position: fixed;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 0, 0.5);
  border-radius: 20px;
  z-index: 10000;
}

#newTickets .ticket {
  background: #acd7ff;
  height: 200px;
  margin: 20px;
}

#lion{
  display:none;
  position: fixed;
  z-index: 30000;
  width: 100%;
  height: 100%;
}

#lion img {
  width: 100%;
  height: 100%;
}

.home {
  margin-top: 50px;
  .btn {
    height: 200px;
    font-size: 80px;
    line-height: 180px;
  }
}

.navbarOffset {
    margin-top: 50px;
}

.done {

}

.ticket {
  margin-left: 10px;
  .items {
    margin-left: 15px;
  }
  a.done {
    width: 90%;
    height: 70px;
    font-size: 30px;
    line-height: 58px;
  }
}

.dotted {
  border-bottom: 1px dashed #777;
}

.expedite {
  .tickets {
    margin-top: 10px;
    height: 90%;
    .ticket {
    }
  }
}

.almostSelected {
  background-color: #ffd7ab !important;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  border-width: 8px;
}

#expediterOverview {
    background: #FFF;
    position: fixed;
    width: 90%;
    height: 90%;
    border-bottom-radius: 10px;
    border: 2px solid #CCC;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    z-index: 20000;
}
