<template name="expedite">
	{{> expediterOverview}}
	<div class="expedite">
		{{> currentTime}}
		<div class="row tickets">
			{{#each tickets}}
				{{> expediteTicket}}
			{{/each}}
		</div>
	</div>
</template>

<template name="expediterOverview">
	<div id="expediterOverview" class="container hide">
		<div class="row">
			<div class="span2">
				<h4>Specials</h4>
				<h2></h2>
			</div>
			<div class="span8">
				<h4>All Day By Station</h4>
				<h2></h2>
			</div>
			<div class="span2">
				<h4>86&apos;d</h4>
				<h2></h2>
			</div>
		</div>
		<div class="row">
		</div>
		<div class="row">
		</div>
	</div>
</template>

<template name="currentTime">
	<div class="row">
		<h1 class="pull-left"><a href='/' class='muted'>TouchlessTicket</a></h1>
		<h1 class="pull-right">{{currentTime}}</h1>
	</div>
</template>

<template name="expediteTicket">
	<div class="ticket span3 alert {{expediteTicketClassFor status}} pull-left" data-ticket="{{_id}}">
		<div class="row">
			<div class="span6">
				<h2>Table {{table}}</h2>
				<small class="muted">{{server}}</small>
			</div>
			<div class="span6 text-right">
				<h4>{{time createdAt}}</h4>
				<span class="muted small">{{timeAgoShort createdAt}}</span>
			</div>
		</div>
		{{#if fired}}
			<div class="text-center row">FIRED {{timeAgo firedAt}}</div>
		{{/if}}
		{{#if completed}}
			<div class="text-center row">ORDER UP {{timeAgo completedAt}}</div>
		{{/if}}
		<hr class="dotted"/>
		<div class="row">
			<div class="span12">
				<h5 class="muted">Guests: {{people}}</h5>
			</div>
			<ul class="list-unstyled items span12">
				{{#each items}}
					<li><h3>{{.}}</h3></li>
				{{/each}}
			</ul>
		</div>
		<hr class="dotted"/>
		<div class="row">
			<div class="span6">
				<small class="muted">Check #{{orderNumber}}</small>
			</div>
			<div class="span6 text-right">
				<span class="muted">{{toDate createdAt}}</span>
			</div>
		</div>
		<br/>
	</div>
</template>
